<div class="child-container">
    <div>
        <mat-card>

            <mat-card-title>Manager's space allocation</mat-card-title>
            <mat-card-content>
                <div id="pieManagersAllocations"></div>
            </mat-card-content>
        </mat-card>
    </div>
<br>
    <div>
        <mat-card>
            <mat-card-title>Department allocation</mat-card-title>
            <mat-card-content>
                tree chart
            </mat-card-content>
        </mat-card>
    </div>

</div>